/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #0894FF; }
.My-Color-Theme-2-hex { color: #07C2E8; }
.My-Color-Theme-3-hex { color: #05FFE6; }
.My-Color-Theme-4-hex { color: #07E892; }
.My-Color-Theme-5-hex { color: #08FF5A; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(8, 148, 255, 1); }
.My-Color-Theme-2-rgba { color: rgba(7, 194, 232, 1); }
.My-Color-Theme-3-rgba { color: rgba(5, 255, 230, 1); }
.My-Color-Theme-4-rgba { color: rgba(7, 232, 146, 1); }
.My-Color-Theme-5-rgba { color: rgba(8, 255, 90, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(205, 100, 51, 1); }
.My-Color-Theme-2-hsla { color: hsla(190, 94, 46, 1); }
.My-Color-Theme-3-hsla { color: hsla(174, 100, 50, 1); }
.My-Color-Theme-4-hsla { color: hsla(157, 94, 46, 1); }
.My-Color-Theme-5-hsla { color: hsla(139, 100, 51, 1); }

/*Theme2*/
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #B3332D; }
.My-Color-Theme-2-hex { color: #FFDDDB; }
.My-Color-Theme-3-hex { color: #FF6058; }
.My-Color-Theme-4-hex { color: #64B382; }
.My-Color-Theme-5-hex { color: #BFFFD7; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(179, 51, 45, 1); }
.My-Color-Theme-2-rgba { color: rgba(255, 221, 219, 1); }
.My-Color-Theme-3-rgba { color: rgba(255, 96, 88, 1); }
.My-Color-Theme-4-rgba { color: rgba(100, 179, 130, 1); }
.My-Color-Theme-5-rgba { color: rgba(191, 255, 215, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(2, 59, 43, 1); }
.My-Color-Theme-2-hsla { color: hsla(3, 100, 92, 1); }
.My-Color-Theme-3-hsla { color: hsla(2, 100, 67, 1); }
.My-Color-Theme-4-hsla { color: hsla(142, 34, 54, 1); }
.My-Color-Theme-5-hsla { color: hsla(142, 100, 87, 1); }
