body { font-family: Georgia,"Times New Roman", serif;
	   color: blue;
	   background-color: rgb(124,163,118);
	   font-size: 1em;}	   
main { background-color: rgb(181,191,176);
	   width: 80%;
	   margin-right: auto;
	   margin-left: auto;
	   min-width: 900px;
	   max-width: 1280px;
	   border-width: 3px;
	   border-style: solid;
	   border-color: blue;
	   box-shadow: 5px 5px 5px #000000;}
main div { text-align: center;}
dl { line-height: 200%;
	 padding-left: 0px;
	 padding-right: 0px;}
dd { color: green ;}
h1 {text-align: center;
	text-shadow: 2px 2px 2px #969696;
	text-transform: uppercase;
	letter-spacing: 35px;
	background-color: rgb(242,242,242);}
h2 { text-align: center;
	text-shadow: 2px 2px 2px #969696;
	text-transform: uppercase; }
h4 { text-align: center;
	text-shadow: 2px 2px 2px #969696;}
h5 { text-align: center;
	text-shadow: 2px 2px 2px #969696;}
p { padding-left: 15px;
	padding-right: 15px;
	color: green;}
ol {color: green;}
ul {color: green;}
table { width: 80%;
		margin: auto;
		background-color: rgb(242,242,242);
		border: 5px;
		margin-bottom: 40px;
		text-align: center;	}
a { text-decoration: none;
	color: rgb(50, 50, 50);
	text-shadow: 2px 2px 2px #969696;}
a:visited { color: rgb(50,160,150);}
a:hover { color: rgb(242,242,242);}
td { border: 1px solid blue;}
footer{ text-align: center;}
.details { padding-left: 20px;
		   padding-right: 20px;
		   text-align: left;}

