body { font-family: Calibri, Verdana, sans-serif;
	   color: rgba(0,0,160,0.8);
	   background-color: rgb(124,163,118);
	   font-size: 1em;}	   
main { background-color: rgb(181,191,176);
	   width: 80%;
	   margin-right: auto;
	   margin-left: auto;
	   border-width: 3px;
	   border-style: solid;
	   border-color: rgba(0,0,160,0.8);
	   box-shadow: 5px 5px 5px #000000;}
main div { text-align: center;}
dl { line-height: 200%;
	 padding-left: 0px;
	 padding-right: 0px;}
dd { color: green ;}
h1, h2, h3, h4, h5, h6 { font-family: Georgia,"Times New Roman", serif;}
h1 {text-align: center;
	text-shadow: 2px 2px 2px #969696;
	text-transform: uppercase;
	background-color: rgb(242,242,242);}
h2 { text-align: center;
	text-shadow: 2px 2px 2px #969696;
	text-transform: uppercase; }
h4, h5 { text-align: center;
	text-shadow: 2px 2px 2px #969696;}
p { padding-left: 15px;
	padding-right: 15px;
	color: green;}
ol {color: green;}
ul {color: green;}
table { width: 80%;
		margin: auto;
		font-size: 1em;
		background-color: rgb(242,242,242);
		border: 5px solid rgba(0,0,160,0.8);
		margin-bottom: 40px;
		text-align: center;	}
tr:nth-of-type(even) { background-color: rgba(64,179,82,0.25);}
th { background-color: rgba(0,0,160,0.8); color: rgb(242,242,242); font-size: 1.5em;}
a { text-decoration: none;
	font-weight: bold;
	color: rgb(50, 50, 50);
	text-shadow: 2px 2px 2px #969696;}
a:visited { color: rgba(0,0,160,0.8);}
a:hover { color: rgb(242,242,242);}
td { border: 1px solid rgba(0,0,160,0.8);}
footer{ text-align: center;
		 font-style: italic;
		 color: green;}
.details { padding-left: 20px;
		   padding-right: 20px;
		   text-align: left;}
.relativeleft { position: relative;
				left:10px;}
.green { color: green;}
#imgscale { height: auto;
	        width: auto; }

